<div class="container">
  <h3 class="bg-secondary text-white p-2 mt-3">Timber</h3>
  <h5 id="timber_h5" class="bg-secondary text-white pl-4 pr-4 pt-2 pb-2 mt-2">Kempas  (කෙම්පස්)  </h5>
  <ul>
    <li>We have all diamentions available.</li>
    <li>Price is calculated according to unit length (feet price).</li>
    <li>Unit price of a piece is same until 20 feet. Beyond that price increases.</li>
    <li>You can take a rough view from below photos.</li>
  </ul>
  <div class="row mt-5 text-center">
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 4' (පරාල)</p>
    </div>
    <div class="img col-lg-2 col-md-3  col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 5'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 6'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>3' x 4' </p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>3' x 5'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>3' x 6'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>4' x 6'</p>
    </div>
    <div class="img col-lg-2 col-md-3  col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>4' x 8'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 2'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 1' (රීප්ප)</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>Lorem </p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>Lorem </p>
    </div>

  </div>
  <h5 id="timber_h5" class="bg-secondary text-white pl-4 pr-4 pt-2 pb-2 mt-2">Sapu (සපු)   </h5>
  <div class="row mt-5 text-center">
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 4'</p>
    </div>
    <div class="img col-lg-2 col-md-3  col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 5'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 6'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>3' x 4' </p>
    </div>
  </div>

  <h5 id="timber_h5" class="bg-secondary text-white pl-4 pr-4 pt-2 pb-2 mt-2">Albesia (ඇල්බීසියා)  </h5>
  <div class="row mt-5 text-center">
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 4'</p>
    </div>
    <div class="img col-lg-2 col-md-3  col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 5'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>2' x 6'</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>3' x 4' </p>
    </div>
  </div>

  <!-- //////////////////////////////////////////////// -->

  <h3 class="bg-secondary text-white p-2 mt-3">Cocrete Works</h3>
  <div class="row mt-5 text-justify">
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/vision.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3  col-sm-4">
      <img src="assets/img/1.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/3.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/4.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/5.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/vision.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3  col-sm-4">
      <img src="assets/img/1.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/2.png" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/3.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/4.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-lg-2 col-md-3 col-sm-4">
      <img src="assets/img/5.jpg" width="100%" alt="" srcset="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>

  </div>
</div>
