<div class="container mt-5">
  <div class="row">
    <div class="col col-12 col-lg-8">
      <h2 class="bg-secondary p-2 text-white">Our Vision</h2>
      <h5>Our vision is “To become the leading Timber provider in Southern Province and eventually the
        region, by consistently delivering Timber which comfortable with customers' standards.”</h5>
    </div>
    <div class="col col-12 col-lg-4">
      <img class="mt-3" src="assets/img/vision.jpg" alt="photo" width="100%">
    </div>

  </div>

  <div class="row">
    <div class="col col-12 col-lg-4">
      <img class="mt-3" src="assets/img/mission.jpg" width="100%" alt="photo">
    </div>
    <div class="col col-12 col-lg-8  ">
      <h2 class="bg-secondary p-2 text-white">Our Mission</h2>
      <h5>Unity Timber already prepared to give the customers an valuable experience in quality timber with dedicated working crew 
        according to what, which, how their need is.
      </h5>
    </div>

  </div>
</div>
