<div class="container mt-5">
  <div class="row">
    <div class="col col-12 col-lg-8">
      <h2 class="bg-secondary p-2 text-white">Our Vision</h2>
      <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magnam quas repellat
        voluptatem, expedita
        voluptatibus quo dolorem iure est labore id esse tempora modi unde iste beatae maiores nobis, repudiandae
        ducimus
        culpa alias? Impedit porro eligendi in fugiat facere modi, dolorum ratione ducimus ea tempore nihil, maiores
        vitae
        voluptates, exercitationem corporis dolor. Eos alias quis beatae similique dolorem a exercitationem earum.
        Recusandae minus cum eveniet enim pariatur temporibus, eum eos, voluptate quae harum corporis error iste velit?
        Deserunt, laborum. Amet nihil iure consequatur quaerat eum natus consequuntur, quam laudantium dicta voluptates
        assumenda quos ipsa possimus velit unde voluptatem asperiores vero.</p>
    </div>
    <div class="col col-12 col-lg-4">
      <img class="mt-3" src="assets/img/vision.jpg" alt="photo" width="100%">
    </div>

  </div>

  <div class="row">
    <div class="col col-12 col-lg-4">
      <img class="mt-3" src="assets/img/mission.jpg" width="100%" alt="photo">
    </div>
    <div class="col col-12 col-lg-8  ">
      <h2 class="bg-secondary p-2 text-white">Our Mission</h2>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloribus, culpa eum
        nostrum dolorum sunt neque
        est sit quis beatae quasi repellendus perferendis molestiae modi tempora id amet consequatur repellat architecto
        magnam distinctio odit unde officiis iusto? Laudantium, esse delectus repudiandae quia voluptate praesentium
        molestias doloremque odit nam nisi excepturi corporis soluta accusantium iure molestiae? Odio beatae quia sed
        culpa! Magni facilis optio est at blanditiis dolore unde. Aperiam voluptates dolorem animi earum amet adipisci
        eveniet quas doloribus enim, sunt modi consectetur vitae, qui eos cumque repudiandae ad, sequi soluta asperiores
        voluptate quibusdam quasi? Inventore numquam possimus minus omnis cumque.</p>
    </div>

  </div>
</div>
