<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-4 p-5">
      <h2 class="bg-secondary p-2 text-white">Heading</h2>
      <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos delectus reprehenderit amet
        maxime inventore harum
        saepe quidem iure expedita dolorum assumenda fugit, molestias numquam aliquid. Nobis, similique hic? Nemo ad
        tempora quo qui quae incidunt cupiditate fugiat doloribus omnis deleniti deserunt atque saepe sunt dolore ea
        voluptatem, hic minus. Quasi.</p>
    </div>
    <div class="col-12 col-lg-8 col-md-8">
      <!-- Default form contact -->
      <form class="text-center border border-light mt-5" action="#!">

        <p class="h3 mb-4 bg-secondary text-white p-2">Contact us</p>

        <!-- Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4 border-dark" placeholder="Name"
          required>

        <!-- Email -->
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4 border-dark" placeholder="E-mail"
          required>

        <!-- Subject -->
        <h3 class="bg-secondary text-white p-2">Subject</h3>
        <select class="browser-default custom-select mb-4 border-dark">
          <option value="" disabled>Choose option</option>
          <option value="1" selected>Feedback</option>
          <option value="2">Report a bug</option>
          <option value="3">Feature request</option>
          <option value="4">Feature request</option>
        </select>

        <!-- Message -->
        <div class="form-group">
          <textarea cols="20" rows="5" sty class="form-control rounded-0 border-dark" id="exampleFormControlTextarea2"
            placeholder="Message" required></textarea>
        </div>

        <!-- Copy -->
        <div class="custom-control custom-checkbox mb-4">
          <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy" required>
          <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
        </div>

        <!-- Send button -->
        <button class="btn btn-secondary btn-block" type="submit">Send</button>

      </form>
      <!-- Default form contact -->
    </div>


  </div>

</div>
