<div class="container mb-3">
  <div class="row">
    <div class="col-12 col-lg-4 col-md-4 p-5">
      <h2 class="bg-secondary p-2 text-white">Connect With Us</h2>
      <p class="text-justify">You can connect with us to give us a valuable feedback, report a bug, feature request or a
        other your wish. You can connect via our mobile number, land line and sending a email as well as by simply submitting the form here. Thank You! </p>
        <p><i class="fas fa-envelope mr-3"></i> unitytimber@gmail.com</p>
        <p> <i class="fas fa-phone mr-3"></i> 0412245875</p>
        <p><i class="fas fa-mobile mr-3"></i>0771579960</p>
    </div>
    <div class="col-12 col-lg-8 col-md-8">
      <!-- Default form contact -->
      <form class="text-center border border-light mt-5" action="#!">

        <p class="h3 mb-4 bg-secondary text-white p-2">Contact us</p>

        <!-- Name -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4 border-dark" placeholder="Name"
          required>

        <!-- Email -->
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4 border-dark" placeholder="E-mail"
          required>

        <!-- Subject -->
        <h3 class="bg-secondary text-white p-2">Subject</h3>
        <select class="browser-default custom-select mb-4 border-dark">
          <option value="" disabled>Choose option</option>
          <option value="1" selected>Feedback</option>
          <option value="2">Report a bug</option>
          <option value="3">Feature request</option>
          <option value="4">Other</option>
        </select>

        <!-- Message -->
        <div class="form-group">
          <textarea cols="20" rows="5" sty class="form-control rounded-0 border-dark" id="exampleFormControlTextarea2"
            placeholder="Message" required></textarea>
        </div>

        <!-- Copy -->
        <div class="custom-control custom-checkbox mb-4">
          <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy" required>
          <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
        </div>

        <!-- Send button -->
        <button class="btn btn-secondary btn-block" type="submit">Send</button>

      </form>
      <!-- Default form contact -->
    </div>


  </div>

</div>
