<div class="container">
  <div>
    <h2 class="bg-secondary text-white p-2 mt-3 text-center">Our Begin</h2>
    <div class="row">
      <img  class="col-12 col-xl-4 col-lg-4" src="assets/img/begin.jpg" width="100%" alt="" srcset="">
      <p class="col-12 col-xl-8 col-lg-8" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore at modi sequi, mollitia voluptatem tempora.
        Molestiae inventore reprehenderit aperiam minima harum amet architecto iure magnam, blanditiis possimus tenetur
        esse? Unde quidem reiciendis minus ea maiores. Unde, omnis! Aliquam quod eligendi dignissimos minima mollitia
        eum
        nisi commodi ipsa quia voluptatum. Sequi, vel delectus? Ex voluptate libero accusamus maiores vero ad saepe
        praesentium nulla assumenda sint similique maxime ipsam, dolorem quidem non! Dolore nostrum accusantium id
        assumenda aliquam laborum repellendus non, veritatis, sed ad, accusamus a libero illum mollitia aperiam quas
        dolores omnis natus numquam deserunt ipsa ipsam! Incidunt deleniti quibusdam sapiente!</p>
    </div>
  </div>
  <h2 class="bg-secondary text-white p-2 text-center mt-3">Our Crew</h2>
  <div class="row mt-5 text-justify">
    <div class="img col-12 col-xl-6 col-lg-6 col-md-6 text-center">
      <img src="assets/img/chairman.jpg" width="100%" alt="" srcset="">
      <h5>Chairman</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-12 col-xl-6 col-lg-6 col-md-6 text-center ">
      <img src="assets/img/manager.jpg" width="100%" alt="" srcset="">
      <h5>Manager</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
  </div>

  <div class="row mt-5 text-justify">
    <div class="img col-12 col-xl-4 col-lg-4 col-md-4 text-center">
      <img src="assets/img/labour1.jpg" width="100%" alt="" srcset="">
      <h5>Labour 1</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-12 col-xl-4 col-lg-4 col-md-4 text-center ">
      <img src="assets/img/labour2.jpg" width="100%" alt="" srcset="">
      <h5>Labour 2</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
    <div class="img col-12 col-xl-4 col-lg-4 col-md-4 text-center">
      <img src="assets/img/labour3.jpg" width="100%" alt="" srcset="">
      <h5>Labour 3</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe recusandae illum rem debitis eos ex
        blanditiis at omnis doloribus!</p>
    </div>
  </div>

</div>
