<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-1 bg-secondary text-white">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-1">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Unity Timber</h6>
        <p>We are here to supply you the quality timber to make your own house a amazing one.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-white">
        <h6 class="text-uppercase mb-4 font-weight-bold">Links</h6>
        <p >
          <a class="text-white" href="#!" routerLink="home">Home</a>
        </p>
        <p>
          <a class="text-white" href="#!" routerLink="ourstrength">Our Strength</a>
        </p>
        <p>
          <a class="text-white" href="#!" routerLink="products">Products</a>
        </p>
        <p>
          <a class="text-white" href="#!" routerLink="gallery">Gallery</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">&#160; &#160; &#160;</h6>
        <p>
          <a class="text-white"  href="#!" routerLink="aboutus">About Us</a>
        </p>
        <p>
          <a class="text-white" href="#!" routerLink="pricing">Pricing</a>
        </p>
        <p>
          <a class="text-white" href="#!" routerLink="contactus">Contact Us</a>
        </p>
        <p>
          <a class="text-white" href="#!">Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fas fa-home mr-3"></i> No.170, Akuressa Rd, Malimbada, Palatuwa, Matara</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> unitytimber@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> 041 22 42 562</p>
        <p>
          <i class="fas fa-mobile mr-3"></i> +94 77 157 9960</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/">
            <strong> MDBootstrap.com</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="#" class="fa fa-facebook"></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="fa fa-twitter"></a>

            </li>
            <li class="list-inline-item">
              <a href="#" class="fa fa-instagram"></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="fa fa-linkedin"></a>
            </li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->

