<div class="text-white bg-secondary mt-3">
  <!-- Footer -->
  <footer class="page-footer font-small mdb-color pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">UNITY Timber</h6>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nam pariatur laborum deserunt amet error
            eaque iusto sequi quam omnis.</p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
          <p>
            <a class="text-white" href="#!">Product 1</a>
          </p>
          <p>
            <a  class="text-white" href="#!">Product 2</a>
          </p>
          <p>
            <a class="text-white" href="#!">Product 3</a>
          </p>
          <p>
            <a class="text-white" href="#!">Product 4</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
          <p>
            <a class="text-white" href="#!">Link 1</a>
          </p>
          <p>
            <a class="text-white" href="#!">Link 2</a>
          </p>
          <p>
            <a class="text-white" href="#!"> Link 3</a>
          </p>
          <p>
            <a class="text-white" href="#!">Link 4</a>
          </p>
        </div>

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
          <p>
            <i class="fas fa-home mr-3"></i> No.170, Malimbada, Palatuwa, Matara</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> unitytimber@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i>0412245875</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Footer links -->

      <hr>

      <!-- Grid row -->
      <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">

          <!--Copyright-->
          <p class="text-center text-md-left">© 2018 Copyright:
            <a href="#">
              <strong> JAID Coding</strong>
            </a>
          </p>

        </div>
        <!-- Grid column -->



      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>
  <!-- Footer -->
</div>


