<div class="container">
        <div class="carousel slide carousel-fade mt-2" data-ride="carousel" id="examplecontroller4" data-interval="4000">
                <ol class="carousel-indicators">
                    <li data-target="#examplecontroller4 " data-slide-to="0"></li>
                    <li data-target="#examplecontroller4 " data-slide-to="1"></li>
                    <li data-target="#examplecontroller4 " data-slide-to="2"></li>
                    <li data-target="#examplecontroller4 " data-slide-to="3"></li>
                    <li data-target="#examplecontroller4 " data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active  text-center">
                        <img src="assets/img/5.jpg" alt="" srcset="" style="width: 90%; margin: auto;" class="d-none d-md-block">
                        <div class="carousel-caption">
                            <p>Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="carousel-item text-center">
                        <img src="assets/img/2.png" alt="" srcset="" style="width: 90%; margin: auto;" class="d-none d-md-block">
                        <div class="carousel-caption">
                            <p>Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="carousel-item text-center">
                        <img src="assets/img/3.jpg" alt="" srcset="" style="width: 90%; margin: auto;" class="d-none d-md-block">
                        <div class="carousel-caption">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="carousel-item text-center">
                        <img src="assets/img/4.jpg" alt="" srcset="" style="width: 90%; margin: auto;" class="d-none d-md-block">
                        <div class="carousel-caption">
                            <p>Lorem ipsum dolor sit.</p>
                        </div>
                    </div>
                    <div class="carousel-item  text-center">
                        <img src="assets/img/1.jpg" alt="" srcset="" style="width: 90%; margin: auto;" class="d-none d-md-block">
                        <div class="carousel-caption">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <a href="#examplecontroller4" class="carousel-control-prev" data-slide="prev"><span
                        class="carousel-control-prev-icon"></span></a>
                <a href="#examplecontroller4" class="carousel-control-next" data-slide="next"><span
                        class="carousel-control-next-icon"></span></a>
            </div>
</div>